<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="main.js" defer></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="member.css" />
    <title>Become a Member | The Forum</title>
  </head>
  <body>
    <% if (errors && errors.length > 0) { %>
    <div class="alert">
      <% errors.forEach(error => { %>
      <p><%= error %></p>
      <% }) %>
    </div>
    <% } %>
    <form action="/become-member" method="post" class="become-member-page">
      <p>
        In order to become a member of our exclusive club you need to type in
        the SECRET phrase. Good luck!
      </p>
      <div>
        <label for="phrase">Phrase is: </label
        ><input type="text" id="phrase" name="phrase" />
        <button type="submit">Check the phrase</button>
      </div>
      <p>Or you can go back to <a href="/">Home Page</a></p>
    </form>
  </body>
</html>
