<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script type="module" src="main.js" defer></script>

    <title>Home | The Forum</title>
  </head>
  <body>
    <% if(successMsg.length > 0) { %>
    <div class="success"><%= successMsg[0] %></div>
    <% } %> <%- include("header") %>
    <main>
      <h3>All messages</h3>
      <div class="cards">
        <% if (allMessages) { %> <% allMessages.map((message) => { %>
        <div class="message-card">
          <h2><%= message.title %></h2>
          <p><%= message.text %></p>
        </div>
        <% }) %> <% } %>
      </div>
    </main>
  </body>
</html>
